modules = ["nodejs-20"]

[workflows]
runButton = "Full Stack Server"

[[workflows.workflow]]
name = "ResumeX Server"
author = 43564906
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"

[[workflows.workflow]]
name = "Development Server"
author = 43564906
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm start"

[[workflows.workflow]]
name = "Full Stack Server"
author = 43564906
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm start"

[nix]
channel = "stable-24_05"
packages = ["tree"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
